body {
    font-family: sans-serif;
}

main {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
}

.converter, .input, .output, .button {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    font-size: 18px;
    padding: 10px;
}

.button {
    background: white;
    border: 1px solid black;
}

.button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.output {
    resize: none;
}