body {
    color: #676565;
    font-family: sans-serif;
    padding: 10px;
}

main {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}

.twitter-list {
    width: 100%;
    table-layout: fixed;
    white-space:nowrap;
}

.twitter-list-head {
    text-align: left;
    font-weight: bold;
    background: #3498DB;
    color: #fff;
}

.odd-rows {
    background: #EEEEEE;
}

.twitter-list-th, .twitter-list-td {
    border: 1px solid #CCCCCC;
    font-size: 20px;
    padding: 17px;
}