<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/mainStyles.css" />
    <title>Vue TodoList</title>
</head>
<body>
    <div v-cloak id="app">
        <main>
            <todo-list></todo-list>
        </main>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="scripts/vueScript.js"></script>

    <script id="todo-item-template" type="text/x-template">
        <li>
            <div class='li-block'>
                <div class='li-note'>
                    <input ref="inputItem" v-bind:class="{ hidden: !isEdit }" class='li-edit' v-model="item.text" type='text' maxlength='20' autofocus />
                    <span v-bind:class="{ hidden: isEdit }" class='li-span' v-text="item.text"></span>
                </div>
                <div>
                    <button v-bind:class="{ hidden: !isEdit }" class='button li-save-button' @click="save" title='Save changes'><img src='images/save.png' alt='save'></button>
                    <button v-bind:class="{ hidden: !isEdit }" class='button li-cancel-button' @click="cancel" title='Cancel changes'><img src='images/cancel.png' alt='cancel'></button>
                    <button v-bind:class="{ hidden: isEdit }" class='button li-edit-button' @click="editItem" title='Edit'><img src='images/edit.png' alt='edit'></button>
                    <button v-bind:class="{ hidden: isEdit }" class='button li-delete-button' @click="deleteItem" title='Delete'><img src='images/remove.png' alt='remove'></button>
                </div>
            </div>
        </li>
    </script>

    <script id="todo-list-template" type="text/x-template">
        <div>
            <div class="input-container">
                <input id="todo-input" class="input" v-model="newItemText" type="text" placeholder="New note" maxlength="20" autofocus />
                <button id="todo-add-button" class="button" @click="addItem" title="Add note"><img src="images/add.png" alt="+"></button>
            </div>
            <ul id="todo-list">
                <todo-item :item="item"
                           :key="item.id"
                           @deleteItem="deleteItem"
                           v-for="item in items"></todo-item>
            </ul>
        </div>
    </script>

    <script>
        Vue.component("todo-item", {
            data: function () {
                return {
                    isEdit: false,
                    sourceValue: this.item.text.trim(),
                    newValue: ""
                }
            },

            props: {
                item: {
                    type: Object,
                    required: true
                }
            },

            methods: {
                save: function () {
                    this.newValue = this.item.text.trim()

                    if (this.newValue.length === 0) {
                        return
                    }

                    this.isEdit = false
                    this.sourceValue = this.newValue
                },

                cancel: function () {
                    this.isEdit = false
                    this.item.text = this.sourceValue
                },

                editItem: function () {
                    this.isEdit = true
                },

                deleteItem: function () {
                    this.$emit("deleteItem", this.item)
                }
            },

            template: "#todo-item-template"
        });

        Vue.component("todo-list", {
            data: function () {
                return {
                    items: [],
                    newItemText: "",
                    newId: 1
                }
            },

            methods: {
                addItem: function () {
                    if (this.newItemText.trim().length === 0) {
                        return
                    }

                    this.items.push({
                        id: this.newId,
                        text: this.newItemText.trim()
                    });

                    this.newId++
                    this.newItemText = ""
                },

                deleteItem: function (item) {
                    this.items = this.items.filter(function (e) {
                        return e !== item
                    });
                }
            },

            template: "#todo-list-template"
        });

        new Vue({
            el: "#app"
        });
    </script>
</body>
</html>