body {
    color: #676565;
    font-family: sans-serif;
}

main {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px;
}

h1 {
    font-size: 30px;
    padding: 5px 20px;
}

.application-form {
    width: 100%;
    display: inline-block;
    background: #FEEED6;
    padding: 20px;
}

.input-title {
    font-weight: bold;
}

.input-edit {
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0px 20px;
}

.multi-field {
    resize: vertical;
    min-height: 8em;
}

.input-edit::placeholder {
    color: #B1B1B1;
}

.button-submit {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: #378DB2;
    color: #fff;
    float: right;
}

.comment {
    color: #737373;
}
